body {
    background-color: #333;
    color: wheat;
    margin: 0;
    font-family: sans-serif;
}
.contacts ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.contacts li {
    display: table;
    padding: .25em;
}
.contacts li > * {
    display: table-cell;
    vertical-align: middle;
    transition: 2s;
}
.contacts .avatar {
    margin: 0;
    padding-right: 1em;
}
.contacts .avatar img {
    height: 3em;
}
.contacts .avatar .status {
    width: 0.4em;
    height: 0.4em;
    display: inline-block;
    border-radius: 0.4em;
    margin-left: -1em;
}
.contacts .info > span {
    display: table-row;
}
.contacts .action {
    padding: 0 3em;
}
.contacts .action a.add {
    text-decoration: none;
    background-color: #111;
    color: #ddd;
    display: block;
    width: 2em;
    height: 2em;
    text-align: center;
    line-height: 2em;
    border-radius: 2em;
}    
.contacts .action a.add:hover {
    background-color: #777;
    color: wheat;
}
.contacts .add-details a {
    text-decoration: none;
    color: rgb(214, 185, 21);
}
.contacts .add-details > div{
    width: 0;
    transition: 1.5s;
    overflow: hidden;
}
.contacts li:target .add-details > div {
    width: 100%;
}
.contacts li:target > * {
    transform: translateX(-13em);
    transition: 2.0s;
}
.status.off {
    border: 1px solid #777;
    background-color: #444;
}
.status.on {
    border: 1px solid green;
    background-color: lightgreen;
}
.contacts>ul>li a:target {
    transform: translateX(30px);
    transition: 2.0s;
}